<div class="row text-center">
    <h1 class="subheading">Data Science</h1>
</div>
&nbsp;
<div class="row text-center">
    <div class="col">
        <a href="images/certificates/UCI Data Analytics Boot Camp Certificate.jpg"><img class="img-viz" src="images/certificates/UCI Data Analytics Boot Camp Certificate.jpg" height="300" width="400"></a>
    </div>
    <div class="col">
        <a href="images/certificates/Python A-Z Python For Data Science With Real Exercises.jpg"><img class="img-viz" src="images/certificates/Python A-Z Python For Data Science With Real Exercises.jpg" height="300" width="400"></a>
    </div>
</div>
&nbsp;
<div class="row text-center">
    <div class="col">
        <a href="images/certificates/Power BI A-Z Hands-On Power BI Training for Data Science.jpg"><img class="img-viz" src="images/certificates/Power BI A-Z Hands-On Power BI Training for Data Science.jpg" height="300" width="400"></a>
    </div>
    <div class="col">
        <a href="images/certificates/Tableau A-Z - Hands-On Tableau Training for Data Science.jpg"><img class="img-viz" src="images/certificates/Tableau A-Z - Hands-On Tableau Training for Data Science.jpg" height="300" width="400"></a>
    </div>
</div>
&nbsp;
<div class="row text-center">
    <h1 class="subheading">IT</h1>
</div>
&nbsp;
<div class="row text-center">
    <div class="col">
        <a href="images/certificates/Master Ticketing System & Help Desk Fundamentals.jpg"><img class="img-viz" src="images/certificates/Master Ticketing System & Help Desk Fundamentals.jpg" height="300" width="400"></a>
    </div>
    <div class="col">
        <a href="images/certificates/Helpdesk Manager - Become a Great Service Desk Manager.jpg"><img class="img-viz" src="images/certificates/Helpdesk Manager - Become a Great Service Desk Manager.jpg" height="300" width="400"></a>
    </div>
</div>
&nbsp;
<div class="row text-center">
    <h1 class="subheading">Programming & Game Development</h1>
</div>
<div class="row text-center">
    <div class="col">
        <a href="images/certificates/Complete C-Sharp Unity Developer 2D - Learn to Code Making Games.jpg"><img class="img-viz" src="images/certificates/Complete C-Sharp Unity Developer 2D - Learn to Code Making Games.jpg" height="300" width="400"></a>
    </div>
    <div class="col">
        <a href="images/certificates/Learn to Code Trading Card Battle System with Unity 3D.jpg"><img class="img-viz" src="images/certificates/Learn to Code Trading Card Battle System with Unity 3D.jpg" height="300" width="400"></a>
    </div>
</div>
&nbsp;
<div class="row text-center">
    <div class="col">
        <a href="images/certificates/Level Management in Unity.jpg"><img class="img-viz" src="images/certificates/Level Management in Unity.jpg" height="300" width="400"></a>
    </div>
    <div class="col">
        <a href="images/certificates/SPRITER 2D Humanoid Character Rigging & Animation for Unity.jpg"><img class="img-viz" src="images/certificates/SPRITER 2D Humanoid Character Rigging & Animation for Unity.jpg" height="300" width="400"></a>
    </div>
</div>
&nbsp;
<div class="row text-center">
    <div class="col">
        <a href="images/certificates/The Ultimate Guide to Making a 2D Strategy Game in Unity.jpg"><img class="img-viz" src="images/certificates/The Ultimate Guide to Making a 2D Strategy Game in Unity.jpg" height="300" width="400"></a>
    </div>
</div>
&nbsp;