<div class="container text-right">
    <h2>ABOUT ME</h2>
    <p>My name is <strong>David Burke</strong>. I am a data professional with experience in analysis, engineering (ETL), and data science (machine learning), 
        currently looking for a position to utilize my data skills to produce actionable insights, helping your organization make
        informed decisions to operate more efficiently and effectively.</p>
    <div class="container text-center"><a href="mailto:dburke027@gmail.com">dburke027@gmail.com</a></div>
    <div class="container text-center"><a href="https://www.linkedin.com/in/david-burke-7636b256/">LinkedIn</a></div>
    <div class="container text-center"><a href="https://github.com/d-burke-data">GitHub</a></div>
</div>
<div class="container text-right">
    <h2>PORTFOLIO</h2>
    <p>Browse through the links on this portfolio site to see a sampling of my work from the University of California, Irvine's Data Analytics Boot Camp.
        For convenience, links are provided below as well as through the navbar at the top of the page.</p>
    <!-- <p>There are two sections: Assignments and Projects. Assignments are small works focused on specific skills. Projects are larger in scope and were
        conducted through team collaboration. Each project addresses a different goal and demonstrates multiple techniques of data engineering, analysis,
        and science to achieve that goal. While projects were team efforts, this portfolio will emphasize my contributions to those works.</p>
    <p>For brevity, only a subset of assignments are provided here,
        but all are available to view on my <a href="https://github.com/d-burke-data">GitHub account</a>.</p> -->
        <p>These projects were conducted through collaboration: in a partnership or a team of four. Each project addresses a different goal
            and demonstrates multiple techniques of data engineering, analysis, and science to achieve that goal. While projects were team efforts,
            this portfolio will emphasize my contributions to those works.</p>
    <p>This portfolio site itself was created by me using HTML, Bootstrap, and JavaScript.</p>
    <h3></h3>
</div>
<div class="container text-center">
    <h3>Projects</h3>
    <h4><a href="housing-constraints.html">U.S. Housing Constraints</a></h4>
    <h4><a href="extract-transform-load.html">Extract, Transform, Load</a></h4>
    <h4><a href="tornado-events-dashboard.html">Tornado Events Dashboard</a></h4>
    <!-- <h4><a href="flight-delays.html">Flight Delays</a></h4> -->
    <!-- <h3>Assignments</h3> -->
</div>