<div class="row text-left">
    <h2 class="subheading">ABOUT ME</h2>
    <p>My name is <strong>David Burke</strong>. I am a data professional from Plainfield, IL, with experience in data science, engineering, and analysis.
        I am currently looking for a position to utilize my data skills to produce actionable insights, helping your organization make
        informed decisions to operate more efficiently and effectively.</p>
</div>
<div class="row text-center">
    <div class="col">
        <a href="mailto:dburke027@gmail.com">dburke027@gmail.com</a><br>
        <a href="https://www.linkedin.com/in/david-burke-7636b256/">LinkedIn</a><br>
        <a href="https://github.com/d-burke-data">GitHub</a><br>
    </div>
</div>
&nbsp;    
<div class="row">
    <h2 class="subheading">PORTFOLIO</h2>
    <p>Browse through the links on this portfolio site to see a sampling of my work from the University of California, Irvine (UCI) Data Analytics Boot Camp.
        For convenience, links are provided below as well as through the navbar at the top of the page.</p>
    <!-- <p>There are two sections: Assignments and Projects. Assignments are small works focused on specific skills. Projects are larger in scope and were
        conducted through team collaboration. Each project addresses a different goal and demonstrates multiple techniques of data engineering, analysis,
        and science to achieve that goal. While projects were team efforts, this portfolio will emphasize my contributions to those works.</p>
    <p>For brevity, only a subset of assignments are provided here,
        but all are available to view on my <a href="https://github.com/d-burke-data">GitHub account</a>.</p> -->
    <p>Projects were conducted through collaboration: in a partnership or a team of four. Each project addresses a different goal
        and demonstrates multiple techniques of data engineering, analysis, and science to achieve that goal. While projects were team efforts,
        this portfolio will emphasize my contributions to those works.</p>
    <p>In addition to projects, you may view certificates for courses I've completed. This includes the UCI Data Analytics Boot Camp, as well as courses
        on <a href="https://www.udemy.com/">Udemy</a>.</p>
    <p>This portfolio site itself was created by me using HTML, Bootstrap, and JavaScript.</p>            
</div>
<div class="row">
    <h3>Projects</h3>
    <h5><a href="housing-constraints.html">U.S. Housing Constraints</a></h5>
    <h5><a href="extract-transform-load.html">Extract, Transform, Load</a></h5>
    <h5><a href="tornado-events-dashboard.html">Tornado Events Dashboard</a></h5>
    <h5><a href="flight-delays.html">Flight Delays Out of LAX</a></h5>
</div>
&nbsp;
<div class="row">
    <h3>Certificates</h3>
    <h5><a href="certificates.html">Data Science, IT, Programming & Game Development</a></h5>
    <!-- <h5><a href="">University of California, Irvine Data Analytics Boot Camp</a></h5>        
    <h5><a href="">Power BI A-Z: Hands-On Power BI Training for Data Science</a></h5>
    <h5><a href="">Python A-Z: Python For Data Science With Real Exercises</a></h5>
    <h5><a href="">Tableau A-Z: Hands-On Tableau Training for Data Science</a></h5> -->
</div>