<nav class="navbar navbar-expand-lg bg-navbar">    
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link bg-navbar" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle bg-navbar" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Projects
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="housing-constraints.html">Housing Constraints</a></li>
              <li><a class="dropdown-item" href="extract-transform-load.html">Extract-Transform-Load</a></li>
              <li><a class="dropdown-item" href="tornado-events-dashboard.html">Tornado Events Dashboard</a></li>
              <!-- <li><a class="dropdown-item" href="flight-delays.html">Flight Delays</a></li> -->
            </ul>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle bg-navbar" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Assignments
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Assignment1</a></li>
              <li><a class="dropdown-item" href="#">Assignment2</a></li>
              <li><a class="dropdown-item" href="#">Assignment3</a></li>
              <li><a class="dropdown-item" href="#">Assignment4</a></li>
            </ul>
          </li> -->
          
        </ul>
      </div>
    </div>
</nav>