<div class="container text-center">
    <h1>PROJECTS</h1>
</div>
<div class="container text-right">
    These projects are larger in scope than assignments, and were executed through team collaboration. Each addresses a different goal,
    and demonstrates multiple techniques of data engineering, analysis, and science to achieve that goal.
</div>
<div class="container text-center">
    <h3><a href="housing-constraints.html">U.S. Housing Constraints</a></h3>
    <h3><a href="extract-transform-load.html">Extract-Transform-Load</a></h3>
    <h3><a href="tornadoes.html">Tornadoes</a></h3>
    <h3><a href="flight-delays.html">Flight Delays</a></h3>
</div>